::-webkit-scrollbar {
    display: none;
}
@media only screen and (max-width: 600px) {
    * {
      font-size: small;
    }
  }
  @media only screen and (max-width: 375px) {
    * {
      font-size: "10px";
    }
    #links{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    #link{
        margin-top: 10px;
    }
    #services{
        justify-content: center;
    }
    
  }
  @media only screen and (min-width:357px) and (max-width: 700px){
    #product_filter{ 
            height: 1024px;
    }
  }